# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Select Rectangle'
      'submenu': [
        { 'label': 'Select', 'command': 'select-rectangle:select' },
      ]
    ]
  }
]
